Django==2.1.11
djangorestframework==3.11.2
markdown==3.1.1
coreapi==2.3.3
djangorestframework-jwt==1.11.0
django-cors-headers==3.1.0
tblib==1.4.0
django-cities-light==3.5.0
gunicorn==19.9.0
django-nose==1.4.6
coverage==4.5.4
